@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@&display=swap");
/* @import url('https://fonts.google.com/specimen/Open+Sans'); */

body {
  background-color: hsl(217, 28%, 15%);
  color: white;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  /* width: calc(100% - 20px); */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
  margin: 0 17px;
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 10px;
  opacity: 0.6;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
  margin-bottom: 30px;
  z-index: 2;

}

.intro img,
.intro h2,
.intro div,
.intro p {
  width: 60%;
  text-align: center;
  margin: 10px 0;
}

.intro p {
  font-size: 11px;
  letter-spacing: 1px;
  width: 45%;
  font-weight: 100;
}

.intro .get-started-btn {
  background-color: #45b6d0;
  width: 180px;
  padding: 8px;
  border-radius: 20px;
  font-size: small;
}

.intro .get-started-btn:hover {
  background-color: #20869c;
  cursor: pointer;
}

.curvy-image-desk {
  position: absolute;
  top: 500px;
  width: 100%;
  z-index: 0;
}

.curvy-image-desk img {
  width: 105%;

}

/* .bg-color {
  width: 100%;
  background-color: #181F2B;
  height: 100%;
  position: absolute;
  top: 900px;
  z-index: 0;
} */

.services {
  display: grid;
  width: 65%;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
  z-index: 2;
}

.item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.item p {
  text-align: center;
  font-size: 11px;
}

.item h4 {
  margin: 5px;
}

.container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.stay-prod-picture {
  width: 50%;
}

.stay-prod-picture img {
  width: 100%;
}

.side-notes {
  width: 40%;
}

.side-notes h1 {
  width: 200px;
}

.side-notes p {
  font-size: 13px;
  line-height: 1.3rem;
}

.fylo-description {
  color: #62E0D9;
  border-bottom: 1px solid #62E0D9;
  width: fit-content;
}

.quotes {
  position: relative;
  width: 80%;
  text-align: left;
  left: 20px;
  margin-top: 50px;
}

.testimony {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin-bottom: 60px;
}

.testimony-box {
  background-color: #21293C;
  width: 270px;
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  font-size: 12px;

}

.customer-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.comment {
  opacity: 0.6;
}

.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.customer h6,
.role {
  margin: 2px 0;
}

.role {
  font-size: 8px;
}

.pic-1 {
  background-image: url('./images/profile-1.jpg');
  background-size: contain;
}

.pic-2 {
  background-image: url('./images/profile-2.jpg');
  background-size: contain;
}

.pic-3 {
  background-image: url('./images/profile-3.jpg');
  background-size: contain;
}

.get-access {
  background-color: #1B2330;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 60%;
}



.get-access div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.get-access div textarea {
  width: 450px;
  height: 30px;
  resize: none;
  border-radius: 20px;

}

.get-access div .get-started-btn {
  background-color: #45b6d0;
  width: 200px;
  border-radius: 20px;
  font-size: small;
  padding-top: 10px;

}

footer {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin: 30px;
}

footer .logo {
  margin-bottom: 20px;
}

.footer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.footer-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 300px;
}

.footer-1 p,
.footer-2 span {

  margin: 0 15px;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* footer .logo {
  text-align: left;
} */

@media (min-width: 367px) {
  header {
    margin: 0 25px;
  }

  header ul {
    font-size: 15px;
  }
}